.overlay {
    z-index: 1;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%
}

.item-open{
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 999;
}

.header-open{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-section-open{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}
